@media screen and (max-width: 450px) {
  #about,
  #services,
  #testimonials,
  #team,  
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 111%;
  }

  .video-container video {
    display: none;
  }

  .video-container::before {
    background: linear-gradient(180deg, transparent 2%, #232323 98%);
  }

  .img-tablet {
    display: none;
  }

  .img-mobile {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #header {
    width: 111%;
  }
}

@media screen and (max-width: 768px) and (min-width: 450px){
  .video-container video {
      display: none;
  }
  .video-container img {
      height: 100vh;
      width: 100%;
  }

  .img-tablet {
    display: block;
    position: absolute;
  }

  .img-mobile {
    display: none;
  }
}